@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

:root {
  --font-DM: "DM Serif Display", serif;
  --font-karla: "Karla", sans-serif;
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  overflow: visible;
}

body.active {
  overflow: hidden;
  width: 100%;
}

/* NAVBAR  */

.link--container {
  background: url("/public/images/bg-pattern-mobile-nav.svg") bottom no-repeat;
  background-size: contain;
  background-color: var(--Very-Dark-Violet);
  color: white;
  font-weight: bold;
  height: fit-content;
  font-family: var(--font-karla);
  font-size: 1.3rem;
  transform: translate(-50%, -500px);
  transition: all 0.3s linear;
}
.active .link--container {
  height: 100vh;
  transform: translate(-50%, 0px);
}
.nav--list li {
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.nav--list li:hover {
  color: var(--Grayish-Blue);
}
.link--container button {
  letter-spacing: 3px;
  border: 2px solid var(--Very-Light-Gray);
  padding: 7px 10px;
  width: 90%;
  transition: all 0.3s linear;
}
.link--container button:hover {
  animation: color 3s linear infinite alternate;
}

@keyframes color {
  0% {
    color: #fff;
    border: 1px solid var(--Very-Light-Gray);
  }
  20% {
    color: #18def8;
    border: 1px solid #18def8;
  }
  40% {
    color: #513ff3;
    border: 1px solid #513ff3;
  }
  60% {
    color: #f74bc3;
    border: 1px solid #f74bc3;
  }
  80% {
    color: #f7b322;
    border: 1px solid #f7b322;
  }
  100% {
    color: #b4f51c;
    border: 1px solid #b4f51c;
  }
}

/* INTRO SECTION */
.intro--section {
  flex-wrap: wrap;
}
.text--wrapper {
  background: url("/public/images/bg-pattern-intro-left-mobile.svg") no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  color: white;
  padding: 4rem 2rem;
  width: 100%;
  flex: 1 0 50%;
  height: 560px;
}
.text--wrapper hr {
  width: 40%;
  height: 2px;
  display: none;
}
.text--wrapper h1 {
  font-size: 2.8rem;
  width: clamp(320px, 40vw, 500px);
  font-family: var(--font-DM);
  line-height: 1;
}
.text--wrapper p {
  font-size: 1.3rem;
  font-family: var(--font-karla);
  width: clamp(440px, 50vw, 600px);
}
.text--wrapper button:hover {
  color: var(--Dark-Violet);
}
.intro--img {
  flex: 1 0 50%;
}
.intro--img img {
  width: 100%;
  height: 560px;
  object-fit: fill;
}

@media Screen and (min-width: 992px) {
  .link--container {
    position: relative;
    width: 70%;
    height: fit-content;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    flex-direction: row;
    background-image: none;
    background-color: transparent;
    align-items: initial;
    padding: 10px 1rem;
    justify-content: space-evenly;
  }
  .nav--list {
    flex-direction: row;
    color: #000;
    gap: 3rem;
    justify-content: center;
    padding: 0px;
    gap: 2rem;
  }
  .nav--list li {
    color: #000;
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .link--container button {
    width: fit-content;
    padding: 5px 10px;
    color: #000;
    border: 3px solid var(--Dark-Violet);
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    background: transparent;
  }
  .link--container button:hover {
    animation: none;
    background: var(--Dark-Violet);
    border: 3px solid transparent;
    color: #fff;
  }

  .menu--btn {
    display: none;
  }

  .intro--img {
    flex: 1 0 50%;
    background: url('/public/images/bg-pattern-intro-right-mobile.svg') no-repeat;
    background-color: var(--Very-Dark-Violet);
    background-size: 60%;
  }
  .intro--img img {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
}


@media Screen and (min-width: 1328px) {
    .text--wrapper {
        background: url('/public/images/bg-pattern-intro-left-desktop.svg') no-repeat;
        background-size: 40%;
        background-position: left -30%; 
        background-color: var(--Dark-Violet);
        order: 1;
    }

    .intro--img {
        background: url('/public/images/bg-pattern-intro-right-desktop.svg') no-repeat;
        background-position: right -90%;
        background-size: 40%;
        background-color: var(--Dark-Violet);
        width: 100%;
        order: 2;
    }
    .intro--img img {
        height: 560px;
        position: relative;
        top: 8rem;
        right: 1rem;
    }
}
